<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home" routerLinkActive="active">Home <span class="sr-only">Home</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About <span class="sr-only">About</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/master" routerLinkActive="active">master </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/product" routerLinkActive="active">Product <span
            class="sr-only">Product</span></a>
      </li>
    </ul>


  </div>
</nav>



<router-outlet></router-outlet>
